.theme-dark:root {
  --tv-color-platform-background: red;
  --tv-color-pane-background: red;
  --tv-color-toolbar-button-background-hover: red;
  --tv-color-toolbar-button-background-expanded: red;
  --tv-color-toolbar-button-text: red;
  --tv-color-toolbar-button-text-hover: red;
  --tv-color-toolbar-button-text-active: #a78bfa;
  --tv-color-toolbar-button-text-active-hover: #a78bfa;
}
